html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/**********CUSTOM GLOBAL STYLES***********/
@font-face {
  font-family: futura;
  src: local("fonts/Futura/FUTURAB.TTF"),
  local("fonts/Century Schoolbook/SCHLBKB.TTF");
  font-weight: bold;
}
/*Typgraphic scale*/


/*Base styles*/
body {
  font-family: 'Futura', sans-serif;
  font-size: 1.1em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  color: white;
  margin-bottom: .5em;
}

h3 {
	font-weight: bold;
}

span {
  color: crimson;
  font-size: 1.5em;
}

select{
	background-color: rgba(10,10,10, .1) ;
	color:ghostwhite;
	padding: 0.5em;
	border-radius: .5em;
}

legend{
	text-align: left;
}

/*Classes and ids for layout*/
#banner {
  background-color: black;
  color:ghostwhite;
  padding: 1em;
  text-align: center;
}

.wrapper {
  background-color: rgba(10,10,10, .55);
  padding: 1em;
}

.wrapper label {
  color: ghostwhite;
}

.wrapper input, button {
  color: white;
  display: inline-block;
  background-color: transparent;
  border: 1px solid white;
  padding: .5em;
  border-radius: .5em;
  margin-bottom: 1.5em;
  margin-top: .5em;
}
.back_buttons{
	float:left;
}
.next_buttons{
	float:right;
}

/*Specific to certain pages*/

/*Login*/

.login {
  max-width: 40em;
}

.login input, button{
	display:block;
}

.logo {
  font-family: arial, sans-serif;
  font-size: 3em;
  margin-bottom: .25em;
  margin-bottom: .25em;
}

.logo img{
   width: 100%;
}

.citybackground {
  background: url("images/tube.jpg") no-repeat center center fixed;
  background-size: cover;
}

/*Portal Dashboard*/
#btn_logOut{
	width:7em;
	float:right;
	font-size: .85em;
	
}
#main-container{
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-end;
  max-width: 60em;
  height: auto;
  margin: 0 auto;
}

.sections {
  width: 100%;
  overflow: auto;
  height: auto;
  padding: 1em 1em;
  background: linear-gradient(to bottom, #45484d 0%,rgba(0,0,0, .6)100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


.sections a {
  display: block;
  font-size: .85em;
  line-height: 2em;
  color: skyblue;
  text-shadow: black 1px 1px;
  text-decoration: none;
}


.sections a:hover {
  color: limegreen;
}

.sections img {
  display: none;
}



.tubewhite {
  background: url("images/tubewhite.jpg") no-repeat center center fixed;
  background-size: cover;
}

/*Balance Page***********/
#balance_page{
	color:ghostwhite;
	padding-bottom: 4em;
}

#balance_page .labelsdiv {
  display: inline-block;
  max-width: 100%;
}

/*#balance_page label {
 display: block;
  margin-bottom: 1.95em;
  max-width: 100%;
}*/

#balance_page .inputsdiv {
 display: inline-block;
 float: right;
  max-width: 100%;
}

.inputsdiv input, radio {
  display: block;
  max-width: 100%;
}

#payment_amount{
	display: none;
	width: 100%;
}

fieldset {
  border: 0px solid white;
  
}

textarea{
	border-radius: 0.5em;
}

.display_balance{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:baseline;

}

#btn_pay{
	min-width:30%;
	float:right;
}

#payment_amount input{
	margin-bottom:0;
}
#full_amount{
	background-color: rgba(255, 255, 255, 0.5);
}



/*Payment Page*/

#payment_page{
  color:ghostwhite;
  max-width: 40em;
  
}


form p label{
	display:block;
	float:left;
	width:100%;
	padding:0.5em 0.3em 0 0.3em;
	text-align: left;
	
}
#form_account,#form_cc{
	display:none;
}

/* Receipt */
#receipt_page.wrapper{
background: linear-gradient(to bottom, #45484d 0%,rgba(0,0,0, .6)100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
/*For larger screens*/
@media screen and (min-width: 21.25em) {
  .sections img {
    float: right;
    position: relative;
    top: 1em;
    display: inline;
  }
  #balance_page{
	max-width: 40em;
  }
form p label{
	width:35%;
	text-align:right;
}
#payment_amount input{
	margin-bottom:1.5em;
}
legend{
	text-align: center;
}
}



@media screen and (min-width: 37.5em) {
  
  h1 {
    font-size: 3em;
  }
  
  .wrapper {
    margin: 2em;
    border: 1px solid;
    border-radius: .5em;
    padding: 2em;
  }
  
  
  .sections {
    align-self: flex-end;
    width: 35%;
    height: auto;
    margin: 1em;
    padding: 1em 1em;
    background-color: rgba(45, 45, 45, .5);
    border-radius: 10px;
    font-family: 'Futura', sans-serif;

  }
  #balance_page, #payment_page{
	margin: 1em auto;
  }
  
  fieldset {
    border: 1px solid white;
    padding: 1em;
    border-radius: .5em;
    margin-bottom: 1.5em;
  }
  
  
}
